<h1>ログイン</h1>

<%= notice %>
<%= alert %>

<%= form_with scope: :session, local: true do |form| %>
  <div class="field">
    <%= form.label :login_id, 'ユーザーID: ' %>
    <%= form.text_field :login_id %>
  </div>

  <div class="field">
    <%= form.label :password, 'パスワード: ' %>
    <%= form.password_field :password %>
  </div>

  <div class="actions">
    <%= form.submit "ログイン" %>
  </div>
<% end %>
