<%= render 'layouts/validation_errors', model: photo %>

<%= form_with model: photo do |form| %>
  <div>
    <%= form.label 'タイトル', style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label '画像ファイル', style: "display: block" %>
    <%= form.file_field :image_file %>
  </div>

  <div>
    <%= form.submit 'アップロード' %>
  </div>
<% end %>
